.logIn {
  max-width: 450px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72; }

.logIn ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.logIn ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px; }

.logIn ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

.logIn ul li .field-style:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0; }

.logIn ul li .field-split {
  width: 49%; }

.logIn ul li .field-full {
  width: 100%; }

.logIn ul li input.align-left {
  float: left; }

.logIn ul li input.align-right {
  float: right; }

.logIn ul li textarea {
  width: 100%;
  height: 100px; }

.logIn ul li input[type="button"],
.logIn ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif; }

.logIn ul li input[type="button"]:hover,
.logIn ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E; }

.signUp {
  max-width: 450px;
  background: #FAFAFA;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72; }

.signUp ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.signUp ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px; }

.signUp ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #B0CFE0;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

.signUp ul li .field-style:focus {
  box-shadow: 0 0 5px #B0CFE0;
  border: 1px solid #B0CFE0; }

.signUp ul li .field-split {
  width: 49%; }

.signUp ul li .field-full {
  width: 100%; }

.signUp ul li input.align-left {
  float: left; }

.signUp ul li input.align-right {
  float: right; }

.signUp ul li textarea {
  width: 100%;
  height: 100px; }

.signUp ul li input[type="button"],
.signUp ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
  box-shadow: inset 0px 1px 0px 0px #3985B1;
  background-color: #216288;
  border: 1px solid #17445E;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  padding: 8px 18px;
  text-decoration: none;
  font: 12px Arial, Helvetica, sans-serif; }

.signUp ul li input[type="button"]:hover,
.signUp ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
  background-color: #28739E; }
